.container {
    display: flex;
    gap : 20px;
    background-color:  #172554;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: center;
  }
  .center{
    margin-left: 0cap;
  }

  .column {
    flex: 1;   
    padding: 20px;
    text-align: center;
    /*font-size: medium;*/
}