.annonce{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
    .imageRectangle {
        width: 500px; /* Ajustez la largeur selon vos besoins */
        height: 300px; /* Ajustez la hauteur selon vos besoins */
        border-radius: 10px; /* Ajustez le rayon de bordure pour arrondir les coins */
        background-color: #ffffff; /* Couleur de fond du rectangle */
        border: 2px solid #172554;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
        margin-top: 20px;
    }

  .imageCarre {
    width: 135px; /* Ajustez la largeur selon vos besoins */
    height: 135px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 10px; /* Ajustez le rayon de bordure pour arrondir les coins */
    margin-left: 5px;
    margin-top: 5.5px;
    background-color: lightcoral; /* Couleur de fond du rectangle */
    opacity: 0.8;
    border: 2px solid rgb(236, 111, 111);
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .titreAnnonce {
    margin-left: 3px;
    margin-top : 1.5px;
    font-weight: bold;
    text-align: left;
    font-size: 17px;
  }

  .description {
    margin-left: 3px;
    margin-top : 1.5px;
    text-align: left;
    font-size: 16px;
    max-width: 800px;
    text-align: justify;
  }

  .autre {
    margin-left: 3px;
    margin-top : 1.5px;
    text-align: left;
    font-size: 12px;
  }

  .content {
    padding: 10px; /* Ajoutez un espace intérieur pour améliorer la mise en page */
  }

  .otherInfo {
    display: flex;
    justify-content: space-between;
  }

  /*lightcoral
  fill: #1da5e4;
  stroke: #172554;
  */